/* Ensure to target the correct classes */
.logo-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.logo {
  height: 30px; /* Adjust the size as needed */
  margin-right: 10px; /* Space between logo and name */
  border-radius: 10px;
}

.logo-name {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: 800;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nav-items > ul{
  list-style-type: none;
  margin: 0;
  display: flex;
}


.nav-items > ul > li {
  /* display: inline; */
  margin: 8px;
  font-size: 18px;
}

.res-card{
    width: 250px;
    height: 300px;
    background-color:#f0f0f0;
    box-shadow:1px 1px 4px #999999;
    border: 1px solid #a7a7a7;
    padding: 4px;
    margin: 4px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
  margin: 8px;
}
